build/
node_modules/
test/
package-lock.json
coverage/
.vscode/
tests/
fixture/
cspell/
.github/
.c8rc.json
.clang-tidy
.eslintrc.yml
.gitignore
.npmignore
.prettierrc.json
Bundle.js
cspell.json
package-lock.json